html{
    scrollbar-width: none;
}

.side_navigation{
    background-color: whitesmoke;
    width: fit-content;
    height: 100vh;
    padding: 0 15px !important;
}
.emp_list{
    max-height: 500px;
}

.nSid{
    width: 96.5px;
}

@media (max-width: 850px){ 
    .side_navigation{
        background-color: whitesmoke;
        width: fit-content;
        height: fit-content !important;
        padding: 0 0 20px 0;
        border-radius: 30px;
    }
    .emp_list{
        max-height: 200px;
    }
    
}